<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/header :: common-header"></div>

<body>
<div th:replace="common/navbar :: common-navbar"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Error</h1>
        <p class="lead">You shouldn't be here so this page is very sparse.</p>
        <p>
            <a class="btn btn-lg btn-primary" th:href="@{/}" role="button">Return to Homepage &raquo;</a>
        </p>
    </div>
</div>
</body>
</html>